<%= form_with url: "/flights", method: :get do |form| %>
  
  <label for="from_airport">Departing from:</label>
  <select name="from_airport" id="from_airport">
    <% @airports.each do |airport| %>
      <option value="<%= airport.id%>"><%= airport.code %></option>
    <% end %>
  </select>
  <br>
  
  <%= form.label :to_airport, "Destination"%>
  <%= select_tag(:to_airport, options_for_select(@airports.map{|a| [a.code, a.id]}))%>
  <br>

  <%= form.label :number_of_passengers, "Number of passengers:"%>
  <%= select_tag(:number_of_passengers, options_for_select((1..4).map{|n| [n, n]}))%>
  <br>

  <%= form.label :date, "Date:"%>
  <%= select_tag(:date, options_for_select(@dates.map{|d| [d.departure_time.to_date, d.departure_time.to_date]}))%>
  <br>

  <%= form.submit "Search" %>
<% end %>

<% if @searched %>
  <% if @flights.any? %>
    <%= form_for Booking.new, url: "/bookings/new", method: :get do |form| %>

      <%= collection_radio_buttons(:booking, :flight_id, @flights, :id, :pretty_print) %>

      <%= hidden_field_tag(:number_of_passengers, @number_of_passengers) %>

      <%= form.submit "Search" %>
    <% end %>
  <% else %>
    <p>No flights are available for the options you selected</p>
  <% end %>
<% end %>