<div>
  <h4>Booking Info:</h4>
  <p>Date and Time: <%= @flight.departure_time %></p>
  <p>Duration: <%= @flight.duration %></p>
  <p>Departing from: <%= @flight.from_airport.code %></p>
  <p>Destination: <%= @flight.to_airport.code %></p>
  <p>Flight ID: <%= @flight.id %></p>
  <br>
</div>